{% extends 'base_no_nav_sidebar.html' %}

{% block content %}
<div class="container mt-auto py-5">
    <div class="row justify-content-center my-auto">
        <div class="col-md-4 mt-5">
            <div class="card rounded-4">
                <div class="card-header text-center" style="background-color: #FFD1DC; color: black;">
                    <h3 class="fw-bold">LOGIN</h3>
                </div>
                <div class="card-body py-4">
                    <form method="post">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="mb-5 mt-5">
                                <div class="d-flex justify-content-center">
                                    {{ field }}
                                </div>
                                {% if field.help_text %}
                                    <div class="form-text text-center">{{ field.help_text }}</div>
                                {% endif %}
                                {% for error in field.errors %}
                                    <div class="invalid-feedback d-block text-center">{{ error }}</div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-sm w-50 mx-auto d-block fw-bold" style="background-color: #FFD1DC; color: black; border-color: #FFD1DC;">LOGIN</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}